<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dating.Nepal</title>
    <link rel="stylesheet" href="/stylesheets/dating.css" class="css" />
    <link rel="stylesheet" href="/stylesheets/responsive.css" class="css" />


  </head>
  <body>
    <header>
      <div class="bar"></div>
      <nav>
        <ul>
          <img src="/images/userImages/logo.png" alt="Our Logo" class="logo" />
          <li><a href="/logout"> Log out</a></li>
          <li><a href="/editprofile"> My Profile </a></li>
          <li><a href="about.html"> About Us </a></li>

          <input type="text" class="input" placeholder="Serch Browser" />
          <input type="button" class="button" value="Search" />
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="img">
          <img class="img" src="/images/userImages/cover.jpg" alt="A happy couple"/>
        </div> 
        <div class="h2">Here Goes The Profile view!</div>
        <div class="users-card">
          <div class="user">
            <img src="/images/userImages/dipen.jpg" class="do" >
          
          <div class="words">
            <li>Name:Dipen Siwakoti</li>
            <li>Age: 19</li>
            <li>Address: Kathmandu</li>
          </div>
        </div>
          <div class="user">
            <img src="/images/userImages/subha.png" class="do" >
          
          <div class="words">
            <li>Name:Subhaasish Karki</li>
            <li>Age: 19</li>
            <li>Address: Buddhanagar</li>
          </div>
        </div>
          <div class="user">
            <img src="/images/userImages/ujwal.jpg" class="do" >
          
          <div class="words">
            <li>Name:Ujwal Pandey</li>
            <li>Age: 19</li>
            <li>Address: Charali,Jhapa</li>
          </div>
        </div>
          <div class="user">
            <img src="/images/userImages/reason.png" class="do" >
          
          <div class="words">
            <li>Name:Reason Baral</li>
            <li>Age: 19</li>
            <li>Address: Birthamode,Jhapa</li>
          </div>
        </div>
        </div>
      </div>
    </main>
    
    <footer class="flexallcenter">Copyright &copy; All right reserved.</footer>
  </body>

</html> -->
