<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheets/myprofile.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="nav">
            <div class="left">
                <div class="wholeView">
                    <div class="profileIcon"><img style="height: 100%;width: 100%;" src="/images/userImages/userDipen.jpg" alt="user image"></div>
                    <div class="username"><span>Dipen Siwakoti</span></div>
                    <div class="followText"><span>Follow</span></div>
                </div>
            </div>
            <div class="editIcon">
                <div class="mainIcon">
                    <svg class="svg-edit" fill="#000000" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.055 32.055" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967 C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967 s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967 c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z"></path> </g> </g></svg>
                    <span style="font-size: 25px;margin-bottom:-16px;">Edit Profile</span>
                </div>
            </div>
        </div>
        <div class="bellowNav">
            <div class="userInfo">
                <h3><span>Age</span>: <div class="designUserinfo">19</div> </h3>
                <h3><span> City</span>:<div class="designUserinfo">Kathmandu</div></h3>
                <h3> <span> Relationship</span>:<div class="designUserinfo">Single</div></h3>
                <h3> <span> Looking for</span>:<div class="designUserinfo">Female</div></h3>
                <h3><span> Education</span>:<div class="designUserinfo">Bachelors</div></h3>
            </div>
        </div>
        <div class="moreAbout"><span style="padding: 9px; border-radius: 7px;"> More about</span></div>
        <div class="break"></div>
        <div class="multiFeature">
            <div class="MF-wrap">
                <div class="followers"><span>Followers:677</span></div>
                <div class="views"><span>Views:1.5k</span></div>
                <div class="chat"><span>Chat</span></div>
            </div>
        </div>
        <div class="wrapBio">
            <div class="bio">
                <div class="txtBio"> <h3>Bio:</h3></div>
                <div class="contentBio">
                    <span>"Adventurous and curious, I'm a software engineer by day and an aspiring photographer by night. I thrive on exploring new cultures, whether through travel or diving into a good book. I’m passionate about technology, constantly learning, and always up for a challenge. Fitness and a balanced lifestyle are important to me, and I love outdoor activities like hiking and cycling. I’m looking for someone who shares my enthusiasm for life, enjoys meaningful conversations, and isn’t afraid to try new things. If you're into creativity, spontaneity, and good vibes, let's connect and see where this journey takes us!"</span>
                </div>
            </div>
        </div>
        <div class="wrapQuote">
            <div class="quote">
                <div class="txtQuote"> <h3>Quote:</h3></div>
                <div class="contentQuote">
                    <span>"Happiness is not found in the destination, but in the journey; it's the little moments that make life big."</span>
                </div>
            </div>
        </div>
        <div class="break"></div>
        <div class="formMind">
            <form action="">
                <input class="form_mind_input" type="text" name="mindPost" placeholder="What's on your Mind ?">
                <input type="submit" class="create" value="Create Post">
            </form>
        </div>

    </div>
</body>
</html>