<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/noUser.css" class="css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not found</title>
</head>
<body>
    <div class="vianet">
    <div class="wrapperr">

        <div class="nonCircle"> </div> 
        <div class="visCircle">!</div> 
    </div> 
     <div class="TextBelow">
         <span style="background-color: transparent;">No results Found, try again.</span>
     </div>
 </div>
</body>
</html>
