<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dating.Nepal</title>
    <link rel="stylesheet" href="/stylesheets/dating.css" class="css" />
    <link rel="stylesheet" href="/stylesheets/responsive.css" class="css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
  </head>
  <body>
    <input type="hidden" name="userIdActualTest" value="<%= usersss._id %>" id="userIdActualTest">
    <div class="wrapRes_Menu_List">
      <div class="Res_Menu_List" style="padding: 25px;">
          <div><a href="/myprofile"> <i class='bx bxs-user-circle' > </i> <span>My Profile</span></a></div>
          <div><a href="/logout"><i class='bx bxs-log-out-circle' > </i> <span>Log out</span></a></div>
          <div><a href="/about"> <i class='bx bx-dna' ></i> <span>About us</span></a></div>
      </div>
    </div>

    <header>
      <div class="bar"></div>
      <nav>
        <ul>
          <div class="menuIconDiv">  <i id="menuBoxIcon" class='bx bx-menu'></i></div>
          <img src="/images/userImages/logo.png" alt="Our Logo" class="logo" />
          <div class="navIconWrap">
            <div class="li">
          <li><a href="/logout"> Log out</a></li>
          <li><a href="/myprofile"> My Profile </a></li>
          <li><a href="about.html"> About Us </a></li>
        </div>
          
        <form action="/searchuser" method="post">
          <input required type="text" name="search" class="input" placeholder="Serch Accounts" />
          <button type="submit">
            <i class='bx bx-search' ></i>
        </button>
        </form>
      </div>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="img">
          <!-- <img class="img" src="/images/New Check/coupleee.jpg" alt="A happy couple"/> -->
          <img class="img" src="/images/New Check/secondCouple.jpg" alt="A happy couple"/>
        </div> 

        <div class="creative">
             <div class="top">
                <div class="firstTop">
                    <div class="FT-Combine">
                        <img src="/images/New Check/matchingFinalllll.png" alt="">
                        <span style="color: #2f2b2bd6;margin: auto; margin-top: 24.7px; font-size: 23px;width: 77%;">Find your matching partner</span>
                        <span style="color: #827b7ba7; margin-top: 10.7px; font-size: 14.2px;width: 33em;">Over 2 millions peoples found their perfect match here, Get your too!</span>

                    </div>
                </div>
                <div class="secondTop">
                <div class="ST-Combine">
                    <img src="/images/userImages/verification.png" alt="">
                    <span style="color: #2f2b2bd6;margin: auto; margin-top: 24.7px;  font-size: 23px;width: 77%;">Get verified in convinient way</span>
                    <span style="color: #827b7ba7; margin-top: 10.7px; font-size: 14.2px;width: 33em;">Just takes few minutes to be registered!</span>

                </div> 
            </div>
                <div class="thirdTop">
                <div class="TT-Combine">
                    <img src="/images/userImages/customization.png" alt="">
                    <span style="color: #2f2b2bd6;margin: auto; margin-top: 24.7px;  font-size: 23px;width: 77%;;">Customize your Profile</span>
                    <span style="color: #827b7ba7; margin-top: 10.7px; font-size: 14.2px;width: 33em;">You can choose how you look and want to be!</span>

                </div> 
            </div>
            </div>
        </div>
        <div class="introduction">
          <div class="break" style="width: 90vw; height: 1px;opacity: .3;  background-color: black; ;margin: auto;margin-top: 20px"></div>
          <div class="into-text">
            <div class="top-intro"><span>Introducing: A New Dating Nepal Experience</span></div>
            <div class="down-intro"><span>Finding your perfect match has never been easier with our innovative new approach. We’ve reimagined Dating Nepal to offer you a seamless journey to lasting love, built on trust and backed by science.</span></div>
        </div>
        <div class="join-us"><a href="/myprofile"><img src="/images/New Check/JoinNow.png" alt=""></a></div>
      </div>
        <div class="compability">
          <div class="text">Compability Count</div>
          <div  style="display: flex; flex-wrap: wrap;">
          <div class="textLeft"><span>Discover Your Perfect Match with Science! At Dating Nepal, we use cutting-edge research to bring you closer to true love. Every connection is more than just fate—it's a calculated match. Start your journey today and see why so many find love through our platform.</span></div>
         <div style="width: 100vw; display: flex; justify-content: center;">
          <div class="logoWrap"> <img src="/images/New Check/compabilityReal.png" alt=""></div>
        </div>
        </div>
        </div>
        <div class="WeAre">
          <div class="topWeAre"><span>We’re Here For You</span></div>
          <div class="midWeAre"><span>Signing up for Dating Nepal is your first step toward finding a meaningful connection. Whether you need profile advice or want to share your love story, we’re here to support you every step of the way.</span></div>
          <div class="downWeAre">AVAILABLE 24/7, 365 DAYS A YEAR</div>
         <div style="width: 100vw; display: flex;justify-content: center;margin-top: 20px;margin-bottom: 48px;"> <button class="btnContactUs">Contact us</button></div>
        </div>
        <div class="user-profiles">
          <div class="top-user-profiles"><span>Our Profiles</span></div>
          <div class="usersAll">
            <div class="useR">
              <div class="img"><img src="/images/profilePictures/9e536ecf153ee2e4503fb334.jpg" alt=""></div>
              <div class="userName"><span>Dipen, 22</span></div>
            </div>
            <div class="useR">
              <div class="img"><img src="/images/profilePictures/f977c1fce365f08fc40da315.jpg" alt=""></div>
              <div class="userName"><span>Aryan, 19</span></div>
            </div>
            <div class="useR">
              <div class="img"><img src="/images/profilePictures/f354488d6f73be2b080861e0.jpeg" alt=""></div>
              <div class="userName"><span>Mahesh, 27</span></div>
            </div>
            <div class="useR">
              <div class="img"><img src="/images/profilePictures/2a4221f419dbd0d2ff1530b9.jpg" alt=""></div>
              <div class="userName"><span>Ujwal, 22</span></div>
            </div>
            <div class="subscribeLogo">
              <div class="SLWrap">
                <img src="/images/New Check/subscribe.png" alt="No Image found">
              </div>
            </div>
          </div>
        </div>
        <script>
          const senderId = "<%= usersss._id %>";
      </script>
    </main>
    
    <footer class="flexallcenter">Copyright &copy; All right reserved.</footer>
  </body>
  </body>
  <script src="/javascripts/socket.js"></script>
  <script src="/javascripts/trial.js"></script> 
</html>