@media screen and (max-width:900px) {

  .users .otherFeatures {
       display: none;
   }
   .left {
       display: none;
   }
   .middle {
      width: 100vw;
   }
   .sendMessage .input {
      width: 70vw;
      height: 36px;
      margin-right: 15px;
  }
  .our-user-message span {
      margin-left: 52px;
  }
  .allMessages {
    height: calc(100% - 400px); 
  }
  .backIconChat {
    display: block;
  }
  .distinct-user-message {
      font-size: 16px;
    }
  .our-user-message {
      font-size: 16px;
    }
  .username {
      font-size: 24px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .allMessages {
    height: calc(100% - 300px); 
  }
}