@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Rubik:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
header {
  background-color: rgb(25, 48, 222);
  position: sticky;
  top: 0;
  border-top-left-radius: 20vw;
  width: 100vw;
  @media screen and (max-width: 900px) {
    position: static;
    font-size: 1.7vh;
    border-top-left-radius: 11vw;
  }
}
nav {
  display: flex;
  flex-direction: row-reverse;
  @media screen and(max-width=1000px) {
    display: flex;
    flex-direction: column;
  }
}
.logo {
  width: 9vw;
  height: 7vh;
  margin: 1vh 33vw 0 2vw;
}

nav ul {
  display: flex;
  justify-content: flex-start;
}
nav ul li {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding-right: 2vw;
}

ul {
  height: 9vh;
}

nav ul li a:hover {
  color: rgb(189, 158, 158);
  font-weight: bolder;
  
}

.input {
  border-radius: 10px solid black;
  height: 4vh;
  width: 16vw;
  margin-top: 2.2vh;
  padding: 0.15vw;
  @media screen and (max-width: 900px) {
    height: 20px;
    margin-top: 2vh;
    font-size: 2vw;
  }
}

.button {
  border-radius: 10px;
  height: 3.2vh;
  width: 60px;
  margin-top: 2.9vh;
  margin-left: 0.5vw;
  background-color: rgb(234, 255, 0);
  color: rgb(0, 0, 0);
  @media screen and (max-width: 900px) {
    height: 20px;
    margin-top: 2vh;
  }
}
body {
  background-color: #000000e6;}

.container {
  color: black;
  height: fit-content;
}

.bar {
  background-color: red;
  height: 1.3px;
  animation: bar 0.3s ease-in-out 1;
}

@keyframes bar {
  0% {
    width: 3vw;
  }
  40% {
    width: 30vw;
  }
  99% {
    width: 100vw;
  }
  100% {
    width: 0vw;
  }
}

@keyframes logo {
  from {
    width: 4vw;
    transform: rotate("0");
    height: 6vh;
  }
  to {
    width: 6vw;
    height: 8vh;
    transform: rotateX("40");
  }
}
.img {
  /* background-image: url("https://images.unsplash.com/photo-1615966650071-855b15f29ad1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y291cGxlJTIwaW4lMjBsb3ZlfGVufDB8fDB8fHww"); */
  width: 100vw;
  height: 92.5vh;
  background-repeat: no-repeat;
}

.users-card{
  margin: 4vh 1vw 3vh 3.2vw;
  background-color: gray;
  display: flex;
  justify-content: center;
  background-color: grey;
  @media screen and (max-width: 900px) {
  }
}
.user {
  margin: 2.5vw;
  border: 4.7px solid black;
  background-color: rgb(77, 185, 97);
  padding: 0.4vw;
  height: 39vh;
  width: 13vw;
  @media screen and (max-width: 900px) {
    height: 18vh;
    width: 19vw;
    overflow: scroll;
  }
}
.h2 {
  font-family: "Montserrat", sans-serif;
  padding: 2vh;
  text-align: center;
  color: #c9bcbc;
}

.do {
  width: 10vw;
  height: 22vh;
  margin: 1vh 1.5vh 2vw 3.5vh;
  @media screen and (max-width: 900px) {
    height: 8vh;
    width: 14vw;
    margin: 0.6vh 0.58vh;
  }
}
.ding {
  width: 8vw;
  display: inline-flex;
}
.words {
  font-family: "Rubik", sans-serif;
  width: 13vw;
  list-style: none;
  @media screen and (max-width: 900px) {
    font-size: 0.99vh;
    padding: 0.3vw;
  }
}

.flexallcenter {
  background-color: rgb(83, 92, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.styling {
  margin-bottom: 30vh;
}
.creative {
  width: 100vw;
  height: max-content;
  background-color: rgb(255, 254, 254);
}
.top {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vh;
}
.firstTop {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 49px;
  margin: auto;
}
.FT-Combine {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.firstTop img {
  width: 281px;
  height: 110px;
}
.secondTop {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  margin-top: 81px;
}
.ST-Combine {
  display: flex;
  flex-direction: column;
}
.secondTop img {
  width: 281px;
  height: 88px;
}
.thirdTop {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  margin-top: 70px;
}
.TT-Combine {
  display: flex;
  flex-direction: column;
}
.thirdTop img {
  width: 281px;
  height: 88px;
}
.introduction {
  width: 100vw;
  height: fit-content;
  background: #FFFFFF;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.top-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 88vw;
  line-height: 43px;
  color: rgb(50, 130, 90);
  font-weight: 700;
  font-size: 40px;
  padding: 30px;
  margin-top: 52px;
}

.down-intro {
  height: fit-content;
  width: 20em;
  display: flex;
  margin: auto;
  font-family: SuisseIntl, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.5px;
  color: rgb(40, 40, 40);
}
.join-us {
  height: 93px;
  width: 11em;
  background: #0dff00;
  margin: auto;
  margin-top: 30px;
}
.join-us img{
  width: 100%;
  height: 100%;
}
.compability {
  width: 100vw;
  height: fit-content;
  background: #FFFFFF;
  padding: 30px;
}
.text {
  height: 120px;
  width: 70vw;
  margin: auto;
  margin-top: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  color: rgb(50, 130, 90);
  font-weight: 700;
  font-size: 49px;

}
.textLeft {
  width: 80vw;
  display: inline-block;
  font-family: SuisseIntl, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.5px;
  color: rgb(40, 40, 40);
  margin: auto;
}
.logoWrap {
  width: 438px;
  height: 287px;
  margin-top: 61px;
  margin-left: -10px;
  margin-bottom: 52px;
}
.logoWrap img {
    width: 100%;
    height: 100%;
}
  .WeAre {
    height: fit-content;
    background: #286F96;
    padding: 10px;
}
.topWeAre {
  display: flex;
  justify-content: center;
  line-height: 48px;
  color: rgb(255, 250, 245);
  font-weight: 700;
  font-size: 60px;
  margin: 30px;
  margin-top: 60px;
}
.midWeAre {
  display: flex;
  justify-content: center;
  line-height: 31.5px;
  color: rgb(255, 250, 245);
  font-weight: 400;
  font-size: 28px;
  padding: 15px;
  /* width: 67vw; */
  margin: auto;
}
.downWeAre {
  display: flex;
  justify-content: center;
  line-height: 27.5px;
  color: rgb(255, 250, 245);
  font-weight: 500;
  font-size: 29.5px;
  padding: 15px;
  width: 43vw;
  margin: auto;
}
.btnContactUs{
  font-weight: 700;
  padding: 12px 25px;
  background: #286F96;
  border: none;
  border-radius: 16px;
  border: 3px solid white;
  color: white;
  cursor: pointer;
}
.btnContactUs:hover{
  background-color: #3c85acdd;
}
.user-profiles {
  width: 100vw;
  height: fit-content;
  background-color: white;
}
.top-user-profiles span{
  line-height: 60px;
  color: rgb(50, 130, 90);
  font-weight: 700;
  font-size: 60px;
  padding: 30px;
}
.top-user-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.usersAll {
  height: max-content;
  width: 80vw;
  margin: auto;
  background: white;
  justify-content: center;
  gap: 8vw;
  display: flex;
  flex-wrap: wrap;
}
.useR .img {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
}
.useR img{
    width: 100%;
    height: 100%;
}
.userName {
  margin-top: 30px;
  font-weight: 600;
  margin-left: 10px;
  font-size: 27px;
}
.subscribeLogo {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  background: white;
}
.SLWrap {
  width: 358px;
  height: 168px;
  margin-top: 0px;
}
.subscribeLogo img{
  width: 100%;
  height: 100%;
}