@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Rubik:ital@1&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif; */
* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(25, 48, 222);
  position: sticky;
  top: 0;
  border-top-left-radius: 20vw;
  width: 100vw;
  @media screen and (max-width: 900px) {
    position: static;
    font-size: 1.7vh;
    border-top-left-radius: 11vw;
  }
}
nav {
  display: flex;
  flex-direction: row-reverse;
  @media screen and(max-width=1000px) {
    display: flex;
    flex-direction: column;
  }
}
.logo {
  width: 9vw;
  height: 7vh;
  margin: 1vh 33vw 0 2vw;
}

nav ul {
  display: flex;
  justify-content: flex-start;
}
nav ul li {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding-right: 2vw;
}

ul {
  height: 9vh;
}

nav ul li a:hover {
  color: rgb(189, 158, 158);
  font-weight: bolder;
  
}

.input {
  border-radius: 10px solid black;
  height: 4vh;
  width: 16vw;
  margin-top: 2.2vh;
  padding: 0.15vw;
  @media screen and (max-width: 900px) {
    height: 20px;
    margin-top: 2vh;
    font-size: 2vw;
  }
}

.button {
  border-radius: 10px;
  height: 3.2vh;
  width: 60px;
  margin-top: 2.9vh;
  margin-left: 0.5vw;
  background-color: rgb(234, 255, 0);
  color: rgb(0, 0, 0);
  @media screen and (max-width: 900px) {
    height: 20px;
    margin-top: 2vh;
  }
}
body {
  background-color: #000000e6;}

.container {
  color: black;
  height: fit-content;
}

.bar {
  background-color: red;
  height: 1.3px;
  animation: bar 0.3s ease-in-out 1;
}

@keyframes bar {
  0% {
    width: 3vw;
  }
  40% {
    width: 30vw;
  }
  99% {
    width: 100vw;
  }
  100% {
    width: 0vw;
  }
}

@keyframes logo {
  from {
    width: 4vw;
    transform: rotate("0");
    height: 6vh;
  }
  to {
    width: 6vw;
    height: 8vh;
    transform: rotateX("40");
  }
}
.img {
  /* background-image: url("https://images.unsplash.com/photo-1615966650071-855b15f29ad1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y291cGxlJTIwaW4lMjBsb3ZlfGVufDB8fDB8fHww"); */
  width: 100vw;
  height: 92.5vh;
  background-repeat: no-repeat;
}

.users-card{
  margin: 4vh 1vw 3vh 3.2vw;
  background-color: gray;
  display: flex;
  justify-content: center;
  background-color: grey;
  @media screen and (max-width: 900px) {
  }
}
.user {
  margin: 2.5vw;
  border: 4.7px solid black;
  background-color: rgb(77, 185, 97);
  padding: 0.4vw;
  height: 39vh;
  width: 13vw;
  @media screen and (max-width: 900px) {
    height: 18vh;
    width: 19vw;
    overflow: scroll;
  }
}
.h2 {
  font-family: "Montserrat", sans-serif;
  padding: 2vh;
  text-align: center;
  color: #c9bcbc;
}

.do {
  width: 10vw;
  height: 22vh;
  margin: 1vh 1.5vh 2vw 3.5vh;
  @media screen and (max-width: 900px) {
    height: 8vh;
    width: 14vw;
    margin: 0.6vh 0.58vh;
  }
}
.ding {
  width: 8vw;
  display: inline-flex;
}
.words {
  font-family: "Rubik", sans-serif;
  width: 13vw;
  list-style: none;
  @media screen and (max-width: 900px) {
    font-size: 0.99vh;
    padding: 0.3vw;
  }
}

.flexallcenter {
  background-color: rgb(83, 92, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.styling {
  margin-bottom: 30vh;
}
.creative {
  width: 100vw;
  height: max-content;
  background-color: black;
}
.top {
  height: 304px;
  width: 100vw;
}
.firstTop {
  width: 281px;
  height: 110px;
  position: relative;
  object-fit: contain;
  margin-left: 230px;
  top: 40px;
}
.firstTop img {
  width: 100%;
  height: 100%;
}
.FT-Combine {
  display: flex;
  flex-direction: column;
}
.secondTop {
  width: 281px;
  height: 110px;
  position: relative;
  object-fit: contain;
  margin-left: 825px;
  top: -74px;
}
.secondTop img {
  width: 100%;
  height: 100%;
}
.ST-Combine {
  display: flex;
  flex-direction: column;
}
.thirdTop {
  width: 281px;
  height: 110px;
  position: relative;
  object-fit: contain;
  margin-left: 1450px;
  top: -180px;
}
.thirdTop img {
  width: 100%;
  height: 100%;
}
.TT-Combine {
  display: flex;
  flex-direction: column;
}
