@media screen and (min-width: 1398px) {
    .signup {
        margin-left: 24vw;
        margin-top: 7%;
      }
      .orText {
        top: -10px;
      }
  }
@media screen and (max-width: 1100px) {
     .colorMatch{
      display: none;
      width: 100vw;
     }
     .signup {
        margin: auto;
        width: 18em;
     }
     .signup h3 {
        font-size: 19px;
      }
      #submit {
        width: 202px;
      }
      #spanSignUpSubmit{
        display: none;
      }
      #submitLoginRes{
        display: block;
    }
    .login {
        position: relative;
        height: 447px;
        width: 21em;
        margin: auto;
      }
      #submitLogin {
        height: 39px;
        width: 81px;
        font-size: 16px;
        padding: 0px;
      }
      #submitSignUpRes {
        width: 88px;
        margin-left: 107px;
        display: block;
        height: 39px;
        font-size: 17px;
      }


    
  }