body{
    margin: 0;
    padding: 0;
}
.profileUpload {
    position: absolute;
    width: 161px;
    height: max-content;
    left: 175px;
    top: -250px;
    background: #929f90;
    display: flex;
    justify-content: center;
    font-weight: 500;
    border-radius: 8px;
    z-index: 3;
    flex-direction: column;
}
.profileUpload div:hover {
    background-color: #80887e8f;
}
.moreAboutContent {
    position: absolute;
    top: 657px;
    left: 250px;
    min-width: 500px;
    background-color: #b59fa6eb;
    padding: 23px;
    font-size: 32px;
    color: #282626;
    border-radius: 23px;
    display: none;
    z-index: 4;
}
.moreAboutContent span{     
       margin-left: 12px;
        font-size: 27px;
        color: #675050;
}

.wrap {
    width: 100vw;
    min-height: 100vh;
    background-color: #D9D9D9;
}
.nav {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    width: 618px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 200px;
}
.editIcon{
    width: 400px;
    height: 100%;
    display: block;
    display: flex;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(71, 152, 65); */
}
.wholeView{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.profileIcon{
    width: 143px;
    height: 143px;
    border-radius: 100%;
    /* background-color: red; */
    margin-bottom: 40px;
    object-fit: cover;
    overflow: hidden;
}
.username {
    min-width: max-content;
    height: 60px;
    font-family: Helvetica, Arial, sans-serifbik;
    font-size: 44px;
    color: rgb(5, 5, 5);
    font-weight: 700;
    line-height: 52.2px;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */

.rubik .username{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.followText{
    bottom: 50px;
    position: relative;
    right: 43px;
    font-size: 28px;
    color: blue;
    font-weight: 600;
}
.mainIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #0087ff; */
    flex-direction: column-reverse;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.svg-edit{
    width: 116px;
    height: 64px;
}
.bellowNav{
        width: 52%;
        margin: auto;
        margin-top: -35px;
        height: max-content;
}
.userInfo{
        width: 100%;
        height: 100%;
        padding: 15px;
}
.userInfo span{
        font-size: 32px;
        font-weight: 600;
        color: #050505;
        line-height: 10px;
}
.userInfo .designUserinfo {
    display: inline-flex;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 27.9px;
    font-weight: 500;
    margin-left: 9px;
}
.moreAbout {
    width: 57%;
    margin: auto;
    font-size: 33px;
    font-weight: 800;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 46px;
    color: rgb(92 95 101);
    margin-top: -23px;
}
.moreAbout span:hover{
    background-color: rgba(116, 111, 111, 0.34);
}
.break{
    width: 89vw;
    margin: auto;
    height: 0.4px;
    background-color: rgba(90, 87, 87, 0.584);
    position: relative;
    top: 19px;

}
.multiFeature{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 49px;
}
.MF-wrap{
    display: flex;
    gap: 250px;
      
}
.followers {
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 29.33px;
    color: blue;
    width: max-content;
    padding: 7px;
    display: flex;
    justify-content: center;
}
.followers:hover {
    background-color:rgba(116, 111, 111, 0.34) ;
    scale: 1.07;
    border-radius: 7px;
}
.views {
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 29.33px;
    color: rgba(255, 13, 0, 0.932);
    width: max-content;
    padding: 7px;
    display: flex;
    justify-content: center;
}
.views:hover {
    background-color:rgba(116, 111, 111, 0.34) ;
    scale: 1.07;
    border-radius: 7px;
}
.chat {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 29.33px;
    color: rgba(95, 97, 100, 0.943);
    width: max-content;
    padding: 7px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.chat:hover {
    background-color:rgba(116, 111, 111, 0.34) ;
    scale: 1.07;
    border-radius: 7px;
}
.bio {
    display: flex;
    width: 77%;
    margin: auto;
    gap: 48px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    height: max-content;

}
.txtBio {
        font-size: 28px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    .contentBio {
        height: max-content;
        width: 100%;
        border: 2.1px solid #d14f4f70;
        padding: 28px;
        font-size: 24px;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #330000cc;
        cursor: not-allowed;
}
.quote {
    display: flex;
    width: 77%;
    margin: auto;
    gap: 48px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.txtQuote {
        font-size: 28px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
}
.contentQuote {
    height: max-content;
    width: 100%;
    border: 2.1px solid #e96e0082;
    padding: 28px;
    font-size: 24px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #330000cc;
    cursor: not-allowed;

}
.formMind {
    height: 117px;
    width: 67%;
    margin-left: 30%;
    margin-top: 50px;
}
.form_mind_input {
    width: 502px;
    height: 44px;
    border-radius: 7px;
    border: 1px solid;
    padding: 9px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 28px;
}
.formMind .create{
        padding: 6px;
        padding-left: 16px;
        padding-right: 16px;
        background: #04a0ff;
        border: none;
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 15px;
}